# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.mypy_cache/
__pycache__/

# Serverless directories, associated dependencies / plugins
.serverless
node_modules/

# IDEs
.vscode/
.idea

# Config, which shouldn't be checked in
twitter-config.json
