[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
pytest = "*"

[dev-packages]
ipython = "*"
pylint = "*"
mypy = "*"
flake8 = "*"

[requires]
python_version = "3.6"

[scripts]
typecheck = "mypy ."
stylecheck = "flake8"
test = "py.test"
haiku = "python -c 'import haiku; e, d = haiku.haiku(); print(e); print(d)'"
