[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"

[dev-packages]
ipython = "*"
pylint = "*"
mypy = "*"
flake8 = "*"
flake8-import-order = "*"

[requires]
python_version = "3.6"

[scripts]
typecheck = "mypy ."
# TODO: Just stylecheck everything once we work out how to exclude /.serverless, which has heaps of
# errors.
stylecheck = "flake8 *.py"
haiku = "python -c 'import haiku; e, d = haiku.haiku(); print(e); print(d)'"
