[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"

[dev-packages]
ipython = "*"
pylint = "*"
mypy = "*"
flake8 = "*"
parameterized = "*"
pytest = "*"

[requires]
python_version = "3.6"

[scripts]
typecheck = "mypy ."
stylecheck = "flake8"
test = "py.test"
tests = "py.test"
haiku = "python -c 'import haiku; e, d = haiku.formatted_haiku(); print(e); print(d)'"
haiku_women = "python -c 'import haiku; e, d = haiku.formatted_haiku(haiku.RenderGender.FEMININE); print(e); print(d)'"
