# "org" ensures this Service is used with the correct Serverless Framework Access Key.
org: capnfabs
service: emoji-haiku
variablesResolutionMode: 20210219

provider:
  name: aws
  # Keep this in sync with the one in the Pipfile.
  runtime: python3.13

package:
  include:
    - api/**
    - datasources/**
    - emoji/**
    - haiku.py
    - syllables.py

functions:
  haiku:
    handler: api.entry.haiku_handler
    events:
      - http:
          path: haiku
          method: get
          # I'm pretty sure we don't need this for GET requests - it's just for
          # handling preflight requests - but I don't want to risk it.
          cors: true
          request:
            parameters:
              querystrings:
                # false = Optional
                modifier: false
                # false = Optional
                gender: false

plugins:
  - serverless-python-requirements
  - serverless-prune-plugin
